{# props:
 #
 # - block
 # - - heading, body, image, imagePosition, cta
 #
 #}
<div class="js-smooth-section text-image-section"> <!-- bootstrap class -->
    <div class="container c-text-image container-self">
        <div class="d-flex">
            {% if block.imagePosition == 'left' %}
                <div class="c-text text-left col-xl-6 order-1 order-xl-1">
                    <div class="c-text-body">
                        {% if block.heading %}
                            {{ block.heading }}
                        {% endif %}
                        {{ block.body }}
                        {% if block.cta.url is not empty %}
                            <a href="{{ block.cta.url }}" class="cta-button button-left">                               
                                    {{ block.cta.text }} 
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if block.imageContent.one() is not empty %}
                    {% set imageContent = block.imageContent.one() %}
                    {% set image = imageContent.image.one() %}
                    {% set imageAlt = imageContent.imageAlt %}

                    <figure class="c-image col-xl-6 order-2 order-xl-2">
                        <img src="{{ image ? image.url }}" alt="{{ imageAlt }}" class="image-left">
                    </figure>
                {% endif %}
            {% else %}

                {% if block.imageContent.one() is not empty %}
                    {% set imageContent = block.imageContent.one() %}
                    {% set images = imageContent.image.all() %}
                    {% set imageAlt = imageContent.imageAlt %}
                        {% if images|length > 1 %}
                        <div class="gallery-container col-xl-6 order-2 order-xl-2 d-flex align-items-end">
                            <div class="gallery">
                                {% for key, image in images %}
                                        <a class="{% if key == '0' %}gallery-link{% else %}d-none{% endif %}" data-fancybox="galleryApp" href="{{ image ? image.getUrl('gallery') }}" data-caption="Foto's verandas">
                                            <img src="{{ image ? image.getUrl('gallery') }}" alt="appartements" class="img-fluid img-voortgang">
                                        </a>
                                {% endfor %}
                                {# <a class="d-none" data-fancybox="galleryApp" href="{{ image ? image.url }}" data-caption="2/8">
                                    <img src="{{ image ? image.url }}" alt="appartements" class="img-fluid img-voortgang">
                                </a> #}
                            </div>
                        </div>
                        {% else %}
                            {% for key, image in images %}
                            <figure class="c-image col-xl-6 order-2 order-xl-2">
                                <img src="{{ image ? image.getUrl('gallery') }}" alt="{{ imageAlt }}" class="image-right">
                            </figure>
                            {% endfor %}
                        {% endif %}
                {% endif %}

                <div class="c-text text-right col-xl-6 order-2 order-xl-2">
                    <div class="c-text-body">
                        {{ block.heading }}
                        {{ block.body }}
                        {% if block.cta ? block.cta.url %}
                            <a href="{{ block.cta.url }}" class="cta-button button-right">
                                {{ block.cta.text }}
                            </a>
                        {% endif %}
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
    {% if block.cta.url is not empty %}
        <a href="{{ block.cta.url }}" class="cta-button button-left button-fixed">                               
            {{ block.cta.text }} 
        </a>
    {% endif %}
</div>
